research/
*.jl.*.cov
*.jl.cov
*.jl.mem
.DS_Store
/dev/
/docs/build/
/docs/site/
/docs/make_local.jl
/examples/wip
/examples/ignore
/examples/.ipynb_checkpoints
.vscode
/issue_debug
Manifest.toml
test/Manifest.toml